@page "/map"

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-6">
    <MudText Typo="Typo.h4" GutterBottom="true">Map</MudText>
</MudContainer>

<div class="bg-info w-100" style="height: 400px;">map goes here</div>
