@page "/my-documents"

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-6">
    <MudText Typo="Typo.h4" GutterBottom="true">My Documents</MudText>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.Large">
    <div class="grid-container">
        @foreach (var _ in Enumerable.Range(1, 5))
        {
            <MudPaper Class="d-flex">
                <MudButton Class="p-0 flex-grow-1">
                    <div class="d-flex flex-column" style="width: 100%;">
                        <div class="bg-body-secondary d-flex justify-content-center align-items-center p-4">
                            <MudIcon Style="font-size: 15rem;" Icon="@Icons.Material.Filled.InsertDriveFile" Size="Size.Large" Class="mud-icon-size-large"/>
                        </div>

                        <div class="pa-4" style="text-align: left;">
                            <MudText Class="fw-bold" Typo="Typo.body1">Document title</MudText>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <div class="d-flex gap-1">
                                    <MudIcon Icon="@Icons.Material.Filled.DateRange" Size="Size.Small"/>
                                    <MudText Typo="Typo.body2">01.10.2025</MudText>
                                </div>
                                <MudIcon Icon="@Icons.Material.Filled.MoreVert"/>
                            </div>
                        </div>
                    </div>
                </MudButton>
            </MudPaper>
        }
    </div>
</MudContainer>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
        gap: 1rem;
        justify-content: center;
        padding-inline: 1.6rem;
    }
</style>

@code {
    
}
