@using FarmXpert.Client.Components
@using FarmXpert.Client.Pages
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject HttpClient Http

<div class="page">
    <MudThemeProvider />
    <MudDialogProvider/>
    <MudSnackbarProvider/>

    <MudLayout>
        <AuthorizeView>
            <Authorized>
                <MudAppBar Elevation="1" Style="display: block">
                    <MudIconButton
                        id="nav-drawer-toggle-button"
                        Icon="@Icons.Material.Filled.Menu"
                        Color="Color.Inherit"
                        Edge="Edge.Start"
                        OnClick="@(() => _navMenu?.ToggleDrawer())"/>
                    <MudSpacer/>
                    <ThemeToggle/>
                    <UserAvatar/>
                </MudAppBar>

                <NavMenu @ref="_navMenu"/>
            </Authorized>
        </AuthorizeView>


        @if (IsLandingPage)
        {
            <Landing />
        }
        else
        {
            <MudMainContent Style="min-height: calc(100vh);">
                <AuthorizeView>
                    <Authorized>
                        @* @if (!profileSetupCompleted) *@
                        @* { *@
                        @*     <MudAlert *@
                        @*         Class="sticky-alert" *@
                        @*         Variant="Variant.Filled" *@
                        @*         Severity="Severity.Warning" *@
                        @*         ShowCloseIcon> *@
                        @*         Please complete your profile setup. *@
                        @*         <MudLink Href="/profile-setup" Color="Color.Inherit" Style="text-decoration: underline; font-size: 14px;"> *@
                        @*             Complete setup *@
                        @*         </MudLink> *@
                        @*     </MudAlert> *@
                        @* } *@
                        <ProfileSetupAlert/>
                    </Authorized>
                </AuthorizeView>
            
                <MudContainer Class="mt-6">
                    <article class="content">
                        @Body
                    </article>
                </MudContainer>
            </MudMainContent>
        }
    </MudLayout>
</div>

@code {
    private NavMenu? _navMenu;
    
    private bool IsLandingPage =>
        Navigation.ToBaseRelativePath(Navigation.Uri)
            .TrimEnd('/')
            .Equals("landing", StringComparison.OrdinalIgnoreCase);

    
    private class ProfileStatus
    {
        public bool ProfileSetupCompleted { get; set; }
    }
}
