@using FarmXpert.Client.Components
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <MudThemeProvider/>
    <MudDialogProvider/>
    <MudSnackbarProvider/>

    
    <MudLayout>
        <MudAppBar Elevation="1" Style="display: block">
            <MudIconButton
                id="nav-drawer-toggle-button"
                Icon="@Icons.Material.Filled.Menu"
                Color="Color.Inherit"
                Edge="Edge.Start"
                OnClick="@(() => _navMenu?.ToggleDrawer())"/>
            <MudSpacer/>
            <UserAvatar/>
        </MudAppBar>
        
        <NavMenu @ref="_navMenu"/>

        <MudMainContent Style="min-height: calc(100vh); background: #fafafa;">
            <AuthorizeView>
                <Authorized>
                    <MudAlert
                        Class="sticky-alert"
                        Variant="Variant.Filled"
                        Severity="Severity.Warning"
                        ShowCloseIcon>
                        Please complete your profile setup.
                        <span class="complete-setup">Complete setup</span>.
                    </MudAlert>
                </Authorized>
            </AuthorizeView>
            <MudContainer Class="mt-6">
                <article class="content">
                    @Body
                </article>
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<script src="/Components/Layout/MainLayout.razor.js"></script>

@code {
    private NavMenu? _navMenu;
    // private bool _isIdentityPage;
    
    // protected override async Task OnInitializedAsync()
    // {
    //     _isIdentityPage =
    // }
}